body{
margin:0;
font-family: 'Poppins', sans-serif; ;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 50px;
}
h2{
    font-size: 30px;
}
#second{
    color:orange;
}
h3{
    font-family: 'Poppins', sans-serif; 
   }
   p{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    
    color:rgb(143, 134, 134);
   }
  
   
   section{
    display: flex;
   }
   .half-width img{
    width: 70%;
    height: 80%;
   }
   .half-width{
    padding-left: 50px;
    width: 50%;
   }
   .link-button{
    text-decoration: none;
    background-color: orangered;
    background-image: -moz-linear-gradient(orange tomato);
    padding: 10px 40px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif; 
    color: white;
    border-radius: 3px;
    font-size: 15px;
    paddding-: 10px;
   }
   .top-banner{
    background-image: url(images/top-banner.png);
    background-repeat:no-repeat;
   }
   .Download-something{
    text-decoration: none;
    background-color: orangered;
    background-image: -moz-linear-gradient(orange tomato);
    padding: 10px 40px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif; 
    color: white;
    border-radius: 3px;
    font-size: 15px;
    paddding-: 10px;
   } 
   .Second-part{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
   }
   .second-divs img{
    width: 50%;
   }
   .second-divs{
    padding-left: 50px;
    width: 50%;
   }
   .flexible-container{
    display: flex;
     }
     .orange-color{
        color: orange;
     }
     .experience-item{
        width: 40%;
        margin-left: 5%;
        margin-right: 5%;
        padding-left: 30px;
        box-shadow: 10px 10px 40px gray;
        border-radius: 5px;
        border-left: 5px solid;
     }
     .third-part{
        background-image: url(images/exp-bg.png);
        background-repeat: no-repeat;
        background-position:left;
   }
   #new-ex{
    border-left: 5px solid;
    border-image:linear-gradient(blue,cyan);
    border-image-slice: 1;
}
#old-ex{
    border-left: 5px solid;
    border-image:linear-gradient(purple, green);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    
}

   