h1{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 50px;
}
#second{
    color:orange;
}
h3{
    font-family: 'Poppins', sans-serif; 
   }
   p{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    
    color:rgb(143, 134, 134);
   }
  
   
   section{
    display: flex;
   }
   .half-width img{
    width: 70%;
    height: 80%;
   }
   .half-width{
    padding-left: 30px;
    width: 50%;
   }
   .link-button{
    text-decoration: none;
    background-color: orangered;
    background-image: -moz-linear-gradient(orange tomato);
    padding: 10px 40px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif; 
    color: white;
    border-radius: 3px;
    font-size: 15px;
   }