h1{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 50px;
}
#second{
    color:orange;
}
h3{
    font-family: 'Poppins', sans-serif; 
   }
   p{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    
    color:rgb(143, 134, 134);
   }
   button{
    font-family: 'Poppins', sans-serif; 
    font-weight: bold;
    background-color:tomato;
    color: white;
    border: 0;
    border-radius: 3px;
    text-align: center;
   }